  Unique Words in a Sentence

In [24]:
def unique_words(sentence):
  """
    Returns the count and set of unique words in a sentence.
    """
  words = sentence.split()
  unique = set(words)
  print("Unique words count: ", len(unique))
  print("Unique words: ",unique)

sentence = input("Enter a sentence: ")
unique_words(sentence)

Enter a sentence: python is easy and python is powerful
Unique words count:  5
Unique words:  {'is', 'and', 'powerful', 'python', 'easy'}

Highest Salary from Employee Data

In [8]:
employees = {
    "Ravi": 75000,
    "Anita": 68000,
    "Kiran": 72000
}

def highest_salary(employees):
    """
    Finds the employee with the highest salary.
    """
    # max() with key=employees.get finds the key with highest value
    highest_paid = max(employees, key=employees.get)
    print(f"Highest Salary: {highest_paid} - {employees[highest_paid]}")

highest_salary(employees)

Highest Salary: Ravi - 75000

Find Maximum and Minimum Values

In [10]:
numbers = [45, 22, 89, 10, 66]
def find_max_min(numbers):
    """
    Finds max and min values from a list without using built-ins.
    """
    maximum = minimum = numbers[0]

    for num in numbers:
        if num > maximum:
            maximum = num
        if num < minimum:
            minimum = num

    print("List:", numbers)
    print("Max:", maximum)
    print("Min:", minimum)

find_max_min(numbers)

List: [45, 22, 89, 10, 66]
Max: 89
Min: 10

Count Products Above a Price Threshold

In [12]:
def count_expensive_products(prices, threshold=1000):
    """
    Counts how many product prices exceed the threshold.
    """
    count = 0
    for price in prices:
        if price > threshold:
            count += 1

    print("Products above 1000:", count)

prices = [450, 1200, 899, 1500, 300]
count_expensive_products(prices)

Products above 1000: 2

Calculate Attendance Percentage

In [23]:
def attendance_percentage(attendance):
    """
    Calculates attendance percentage based on P/A list.
    """
    present_days = attendance.count("P")
    total_days = len(attendance)
    percentage = (present_days / total_days) * 100

    print("Attendance Percentage:", percentage)

attendence = ["P", "P", "A", "P", "P"]
attendance_percentage(attendence)

Attendance Percentage: 80.0

Remove Duplicate Phone Numbers

In [22]:
def unique_phone_numbers(phone_numbers):
    """
    Removes duplicate phone numbers using a set.
    """
    unique_numbers = set(phone_numbers)
    print("Unique phone numbers:", unique_numbers)

phone_numbers = [9876543210, 9123456789, 9876543210]
unique_phone_numbers(phone_numbers)

Unique phone numbers: {9876543210, 9123456789}

Count Character Frequency

In [21]:
def character_frequency(text):
    """
    Counts frequency of each character in a string.
    """
    freq = {}

    for char in text:
        if char in freq:
            freq[char] += 1
        else:
            freq[char] = 1

    print(freq)

character_frequency("python")

{'p': 1, 'y': 1, 't': 1, 'h': 1, 'o': 1, 'n': 1}

Convert List to Tuple

In [20]:
def list_to_tuple(lst):
    """
    Converts a list into a tuple.
    """
    tup = tuple(lst)
    print("Tuple:", tup)

lst = [10, 20, 30]
list_to_tuple(lst)

Tuple: (10, 20, 30)

Check if a Key Exists in a Dictionary

In [19]:
def check_key_exists(dictionary, key):
    """
    Checks whether a given key exists in a dictionary.
    """
    if key in dictionary:
        print("Employee exists")
    else:
        print("Employee does not exist")

check_key_exists(employees, "Ravi")

Employee exists

Calculate Average Marks

In [18]:
def average_marks(marks):
    """
    Calculates average of a list of marks.
    """
    avg = sum(marks) / len(marks)
    print("Average Marks:", avg)

marks = [70, 75, 80, 65]
average_marks(marks)

Average Marks: 72.5